<h1 mat-dialog-title>Editar Especialidade</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="pt-2 flex gap-4">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>

    <mat-checkbox formControlName="ativa">
      {{ form.value.ativa ? "Ativa" : "Inativa" }}
    </mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button
    mat-flat-button
    [disabled]="form.invalid"
    (click)="updateEspecialidade()"
  >
    Salvar
  </button>
</mat-dialog-actions>
