<h1 mat-dialog-title>Editar Especialidade</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="flex flex-col mt-2 mb-1 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" />

        <mat-error>
          {{ errorMessage(form.get("nome")) }}
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="ativa">
        {{ form.value.ativa ? "Ativa" : "Inativa" }}
      </mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button
    mat-flat-button
    [disabled]="form.invalid"
    (click)="updateEspecialidade()"
  >
    Salvar
  </button>
</mat-dialog-actions>
