<div class="px-6 sm:flex sm:flex-row sm:items-center sm:gap-2 hidden">
  <button
    mat-icon-button
    aria-label="Botão voltar"
    (click)="backToProfissionais()"
    class="flex items-center cursor-pointer"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="text-2xl mb-2 sm:mb-0" id="page-title">Editar Profissional</h1>
</div>

<mat-stepper [orientation]="(stepperOrientation | async)!" linear>
  <!-- STEP 1 – DADOS PESSOAIS -->
  <mat-step [stepControl]="dadosPessoaisForm">
    <form
      class="mt-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
      [formGroup]="dadosPessoaisForm"
    >
      <ng-template matStepLabel>Dados Pessoais</ng-template>

      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="nome" />

        <mat-error>
          {{ errorMessage(dadosPessoaisForm.get('nome')) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Número do CRM</mat-label>
        <input matInput formControlName="crm" />

        <mat-error>
          {{ errorMessage(dadosPessoaisForm.get('crm')) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>UF do CRM</mat-label>
        <mat-select formControlName="UFcrm">
          @for (uf of UFs; track uf) {
          <mat-option [value]="uf">{{ uf }}</mat-option>
          }
        </mat-select>
        <mat-error>
          {{ errorMessage(dadosPessoaisForm.get('UFcrm')) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" />

        <mat-error>
          {{ errorMessage(dadosPessoaisForm.get('email')) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Celular</mat-label>
        <input matInput mask="(00) 00000-0000" formControlName="celular" />

        <mat-error>
          {{ errorMessage(dadosPessoaisForm.get('celular')) }}
        </mat-error>
      </mat-form-field>
    </form>

    <div class="flex justify-end mt-4">
      <button
        mat-flat-button
        matStepperNext
        [disabled]="dadosPessoaisForm.invalid"
      >
        Próximo
      </button>
    </div>
  </mat-step>

  <!-- STEP 2 – DADOS PROFISSIONAIS -->
  <mat-step [stepControl]="dadosProfissionaisForm">
    <form
      class="mt-3 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
      [formGroup]="dadosProfissionaisForm"
    >
      <ng-template matStepLabel>Dados Profissionais</ng-template>

      <mat-form-field>
        <mat-label>Especialidade</mat-label>
        <input matInput formControlName="especialidade" />
        <mat-error>
          {{ errorMessage(dadosProfissionaisForm.get('especialidade')) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Unidade</mat-label>
        <input
          type="search"
          matInput
          formControlName="unidade"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          requireSelection
          [displayWith]="displayUnidade"
        >
          @for (option of filteredUnidades | async; track option) {
          <mat-option [value]="option">{{ option.nome }}</mat-option>
          }
        </mat-autocomplete>
        <mat-error>
          {{ errorMessage(dadosProfissionaisForm.get('unidade')) }}
        </mat-error>
      </mat-form-field>
    </form>

    <div class="flex gap-4 mt-4 justify-end">
      <button mat-stroked-button matStepperPrevious>Voltar</button>
      <button
        mat-flat-button
        matStepperNext
        [disabled]="dadosProfissionaisForm.invalid"
      >
        Próximo
      </button>
    </div>
  </mat-step>

  <!-- STEP 3 – CONFIRMAR -->
  <mat-step>
    <ng-template matStepLabel>Confirmar</ng-template>

    <mat-card appearance="outlined" class="mt-3 mb-4">
      <mat-card-header class="mb-4">
        <mat-card-title>Confirmação de dados</mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex flex-col gap-4">
        <h2 class="text-lg" id="dados-pessoais">Dados pessoais</h2>

        <section
          aria-labelledby="dados-pessoais"
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
        >
          <div class="flex flex-col gap-1">
            <span class="font-semibold">Nome completo</span>
            <p>{{ dadosPessoaisForm.value.nome }}</p>
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-semibold">CRM</span>
            <p>{{ crm }}</p>
          </div>
          <div class="flex flex-col gap-1">
            <span class="font-semibold">E-mail</span>
            <p>{{ dadosPessoaisForm.value.email }}</p>
          </div>
          <div class="flex flex-col gap-1">
            <span class="font-semibold">Celular</span>
            <p>{{ dadosPessoaisForm.value.celular | celular }}</p>
          </div>
        </section>
        <mat-divider></mat-divider>

        <h2 class="text-lg" id="dados-profissionais">Dados profissionais</h2>

        <section
          aria-labelledby="dados-profissionais"
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
        >
          <div class="flex flex-col gap-1">
            <span class="font-semibold">Especialidade</span>
            <p>{{ dadosProfissionaisForm.value.especialidade }}</p>
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-semibold">Unidade</span>
            <p>{{ unidadeNome }}</p>
          </div>
        </section>
      </mat-card-content>
    </mat-card>

    <div class="flex gap-4 justify-end">
      <button mat-stroked-button matStepperPrevious>Voltar</button>
      <button mat-flat-button (click)="confirm()">Confirmar</button>
    </div>
  </mat-step>
</mat-stepper>
