<section aria-labelledby="page-title" class="mb-5">
  <div class="flex flex-col sm:flex-row sm:justify-between">
    <h1 class="text-2xl mb-2 sm:mb-0" id="page-title">Profissionais</h1>

    <!-- FILTROS -->
    <section aria-label="Filtros de pacientes" class="mb-2">
      <form
        role="search"
        class="flex flex-col gap-3 sm:flex-row sm:items-end sm:gap-4"
      >
        <mat-form-field class="w-full">
          <mat-label>Filtrar por nome</mat-label>
          <input
            matInput
            type="search"
            [formControl]="nomeCtrl"
            placeholder="Digite o nome"
            aria-label="Filtrar por nome"
          />
        </mat-form-field>

        <!-- Tem que colocar um autocomplete aqui -->
        <mat-form-field class="w-full">
          <mat-label>Filtrar por unidade</mat-label>
          <input
            type="search"
            placeholder="Digite a unidade"
            aria-label="Filtrar por unidade"
            matInput
            [formControl]="unidadeCtrl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredUnidades | async; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </section>
  </div>
  <!-- TABELA -->
  <section aria-label="Lista de profissionais">
    <div class="overflow-x-auto scrollbar-custom" role="region" tabindex="0">
      <table
        mat-table
        [dataSource]="dataSource"
        aria-describedby="page-title"
        class="table"
      >
        <!-- COLUNAS SIMPLES -->
        @for (column of displayedColumns; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef scope="col">
            {{ columnLabels[column] }}
          </th>

          <td mat-cell *matCellDef="let profissional">
            {{ formatCellGeneric(column, profissional, profissionalFormatters)
            }}
          </td>
        </ng-container>
        }

        <!-- COLUNA AÇÕES -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef scope="col">Ações</th>

          <td mat-cell *matCellDef="let profissional">
            <div
              class="actions"
              role="group"
              aria-label="Ações do profissional"
            >
              <button
                mat-icon-button
                matTooltip="Visualizar"
                aria-label="Visualizar profissional"
                (click)="viewProfissional(profissional.id)"
                class="icon"
              >
                <mat-icon class="action-icons">visibility</mat-icon>
              </button>

              <button
                mat-icon-button
                matTooltip="Editar"
                aria-label="Editar profissional"
                (click)="editProfissional(profissional.id)"
                class="icon"
              >
                <mat-icon class="action-icons">edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- HEADER E ROWS -->
        <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: allColumns"></tr>

        @if (error()) {
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            Não é possível visualizar os dados dos profissionais
          </td>
        </tr>
        } @else if (loading()) {
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            <mat-spinner diameter="40"></mat-spinner>
          </td>
        </tr>
        } @else {
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            Nenhum profissional encontrado com esse filtro.
          </td>
        </tr>
        }
      </table>
    </div>

    <!-- PAGINAÇÃO -->
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      class="mt-2"
      aria-label="Paginação da lista de profissionais"
    />
  </section>
</section>

<mat-divider></mat-divider>

<section aria-labelledby="especialidade-title" class="mt-5">
  <div class="flex flex-col sm:flex-row sm:justify-between">
    <h2 class="text-xl mb-2 sm:mb-0" id="especialidade-title">
      Especialidades
    </h2>
    <section aria-label="Filtro de especialidade" class="mb-2">
      <form
        role="search"
        class="flex flex-col gap-3 sm:flex-row sm:items-end sm:gap-4"
      >
        <mat-form-field class="w-full">
          <mat-label>Filtrar por nome</mat-label>
          <input
            matInput
            type="search"
            [formControl]="nomeEspCtrl"
            placeholder="Digite o nome"
            aria-label="Filtrar por nome"
          />
        </mat-form-field>
      </form>
    </section>
  </div>

  <section aria-label="Lista de especialidades">
    <div class="overflow-x-auto scrollbar-custom" role="region" tabindex="0">
      <table
        mat-table
        [dataSource]="especialidadesDataSource"
        aria-describedby="especialidade-title"
        class="table"
      >
        <!-- COLUNAS SIMPLES -->
        @for (column of especialidadeColumns; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef scope="col">
            {{ columnLabelsEsp[column] }}
          </th>

          <td mat-cell *matCellDef="let especialidade">
            {{ formatCellGeneric( column, especialidade, especialidadeFormatters
            ) }}
          </td>
        </ng-container>
        }

        <!-- COLUNA AÇÕES -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef scope="col">Ações</th>

          <td mat-cell *matCellDef="let especialidade">
            <div
              class="actions"
              role="group"
              aria-label="Ações das especialidades"
            >
              <button
                mat-icon-button
                matTooltip="Editar"
                aria-label="Editar especialidade"
                (click)="editEspecialidade(especialidade)"
                class="icon"
              >
                <mat-icon class="action-icons">edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- HEADER E ROWS -->
        <tr mat-header-row *matHeaderRowDef="allColumnsEsp"></tr>
        <tr mat-row *matRowDef="let row; columns: allColumnsEsp"></tr>

        @if (errorEsp()) {
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            Não é possível visualizar as especialidades
          </td>
        </tr>
        } @else if (loadingEsp()) {
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            <mat-spinner diameter="40"></mat-spinner>
          </td>
        </tr>
        } @else {
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            Nenhuma especialidade encontrado com esse filtro.
          </td>
        </tr>
        }
      </table>
    </div>
  </section>
</section>
