<h1 mat-dialog-title>Nova Especialidade</h1>
<mat-dialog-content>
  <form [formGroup]="form" class="pt-2 flex gap-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />

      <mat-error>
        {{ errorMessage(form.get("nome")) }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button
    mat-flat-button
    [disabled]="form.invalid"
    (click)="createEspecialidade()"
  >
    Criar
  </button>
</mat-dialog-actions>
