<section aria-labelledby="page-title" class="mb-5">
  <div class="flex flex-col lg:flex-row lg:justify-between">
    <h1 class="text-2xl mb-2 lg:mb-0" id="page-title">Leitos</h1>

    <!-- FILTROS -->
    <section aria-label="Filtros de leitos" class="mb-2">
      <form
        role="search"
        class="flex flex-col gap-3 sm:flex-row sm:items-end sm:gap-4"
      >
        <mat-form-field class="w-full">
          <mat-label>Filtrar por código</mat-label>
          <input
            matInput
            type="search"
            [formControl]="codigoCtrl"
            placeholder="Digite o código"
            aria-label="Filtrar por código"
          />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Filtrar por paciente</mat-label>
          <input
            type="search"
            placeholder="Digite o paciente"
            aria-label="Filtrar por paciente"
            matInput
            [formControl]="pacienteCtrl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredPacientes; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Filtrar por unidade</mat-label>
          <mat-select [formControl]="unidadeCtrl">
            @for (option of unidades; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </section>
  </div>

  <app-data-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [columnLabels]="columnLabels"
    [formatters]="formatters"
    [actions]="{
      view: viewLeito,
      edit: editLeito,
      delete: deleteLeito,
    }"
  >
  </app-data-table>
</section>
