<div class="px-6 sm:flex sm:flex-row sm:items-center sm:gap-2 hidden">
  <button
    mat-icon-button
    aria-label="Botão voltar"
    (click)="backToConsultas()"
    class="flex items-center cursor-pointer"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="text-2xl mb-2 sm:mb-0" id="page-title">Editar Paciente</h1>
</div>

<!-- <form [formGroup]=""> -->
<div class="flex flex-col gap-1">
  <label for="Tipo de Consulta" class="text-lg font-semibold"
    >Selecione o tipo de consulta</label
  >

  <div>
    <mat-button-toggle-group
      name="Tipo de Consulta"
      aria-label="Tipo de Consulta"
    >
      <mat-button-toggle value="presencial">Presencial</mat-button-toggle>
      <mat-button-toggle value="telemedicina">Telemedicina</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<!-- <mat-form-field>
        <mat-label>Paciente</mat-label>
        <input matInput [formControl]="unidadeCtrl" [matAutocomplete]="auto" />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayPaciente"
        >
          @for (option of filteredUnidades | async; track option) {
            <mat-option [value]="option">{{ option.nome }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field> -->

<!-- <mat-form-field>
        <mat-label>Unidade</mat-label>
        <input matInput [formControl]="unidadeCtrl" [matAutocomplete]="auto" />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayUnidade"
        >
          @for (option of filteredUnidades | async; track option) {
            <mat-option [value]="option">{{ option.nome }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field> -->

<!-- <mat-form-field>
        <mat-label>Especialidade</mat-label>
        <input matInput [formControl]="unidadeCtrl" [matAutocomplete]="auto" />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayEspecialidade"
        >
          @for (option of filteredEspecialidades | async; track option) {
            <mat-option [value]="option">{{ option.nome }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field> -->

<!-- <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="dataCtrl" />
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-datepicker #picker [touchUi]="isMobile | async"></mat-datepicker>
      </mat-form-field> -->

<!-- </form> -->
