<!-- BOTÃO / ORIGEM DO OVERLAY -->
<button
  mat-icon-button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  aria-haspopup="dialog"
  [attr.aria-label]="
    unreadCount() > 0 ? 'Menu notificações. ' + unreadCount() + ' não lidas' : 'Menu notificações'
  "
  [attr.aria-expanded]="isOpen()"
  (click)="toggle()"
  class="flex items-center justify-center cursor-pointer"
>
  <mat-icon aria-hidden="true" [matBadge]="unreadCount()" [matBadgeHidden]="unreadCount() === 0"
    >notifications</mat-icon
  >
</button>

<!-- OVERLAY -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen()"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOffsetY]="4"
  [cdkConnectedOverlayOffsetX]="20"
  (keydown.escape)="close()"
  (backdropClick)="close()"
>
  <!-- PAINEL -->
  <section
    role="dialog"
    aria-modal="false"
    aria-labelledby="notifications-title"
    class="flex max-h-[70vh] sm:w-80 flex-col rounded-xl bg-(--mat-sys-surface-container-low) shadow-xl animate-[fadeIn_150ms_ease-out]"
  >
    <!-- HEADER -->
    <header class="flex justify-between items-center px-4 py-3">
      <h2 id="notifications-title" class="font-semibold">Notificações</h2>
      <button mat-button (click)="clearNotifications()">Limpar</button>
    </header>

    <mat-divider></mat-divider>

    <!-- LISTA -->
    <ul class="flex-1 overflow-auto" aria-live="polite">
      @if (notifications().length > 0) { @for (item of notifications(); track item.id) {
      <li role="menuitem">
        <article class="flex flex-col px-4 py-3 gap-2.5">
          <div class="flex justify-between items-center">
            <h3 class="font-medium">{{ item.title }}</h3>
            @if (!item.read) {
            <span
              aria-hidden="true"
              class="inline-flex h-2 w-2 rounded-full bg-(--mat-sys-primary)"
            ></span>
            }
          </div>
          <p>{{ item.description }}</p>
          <time class="text-(--mat-sys-outline) self-end" [attr.datetime]="item.timestamp">
            {{ formatNotificationTime(item.timestamp) }}
          </time>
        </article>
      </li>
      <mat-divider></mat-divider>
      } } @else {
      <li>
        <div class="px-4 py-3 gap-2.5">
          <p>Você não tem notificações.</p>
        </div>
      </li>
      }
    </ul>
  </section>
</ng-template>
